.Cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.Cards div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 20%;
    margin: 20px;
}