@font-face {
    font-family: 'Shabnam';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/Font/shabnam-font-v5.0.1/Shabnam.woff') format('woff');
  }

  .header {
    position: relative;
  }

.logobar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 10px;
    width: 100%;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.418);
    backdrop-filter: blur(5px);
    font-family: 'Shabnam';
    position: absolute;
    z-index: 999999;
}

.logobar img{
    width: 140px;
    height: 140px;
    margin-right: 200px;
}
.logobar h2{
    color: #ffffff;
    margin-top: 50px;
    margin-left: 200px;
}

.logobar button{
    margin-top: 50px;
    padding: 0 15px;
    font-size: 20px;
    transition: all .6s;
    border: none;
    color: #d1d1d1;
    background-color: #ffffff00;

    
}
.logobar button:hover{
    color: #ffffff;
}

#Slides {
    width: 100%;
    height: 800px;
}

.title {
    position: absolute;
    z-index: 999999;
    text-align: center;
    width: 100%;
    top: 350px;
    color: #ffffff;
    direction: rtl;
}
.title h1{
    margin-bottom: 40px;
    font-size: 50px;
}
.title p{
    font-size: 25px;
}